* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #ec715f;
}


footer {
  height: 60px;
  background-color: #ec715f;
}

.main-visual {
  height: 650px;
  background-image: url(img/mv.png);
}